<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>

</head>
<body>
    <header>
        <h1>Avaliação contínua: Aula 03</h1>
    </header>
    <div id="content">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/student">Identificação</a>
                </li>
                <li>
                <a href="/requisition">Contexto da requisição</a>
                </li>
            </ul>
        </nav>
    </div>
    <script 
    type="text/javascript"
    src={{ url_for('static', filename='js/script.js') }}>
</script>
</body>
</html>
